<div class="parent">
  <div class="child">
<p id="notice"><%= notice %></p>

<%= image_tag "logo.png", id: 'logo' %>

<p>
 <form id="weather_form">
  <input type="text" id="zipcode" name="zipcode" placeholder="Zip Code"/>

  <button type="submit">Get Weather Details</button>
 </form>
</p>

<div>
  <ul id="results"/>
</div>

  </div>
</div>



